/* Footer styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 200px 15% 200px; /* Adjusted for padding consistency */
    background: #050505;
    border-top: 5px dashed;
    border-color: white;
    border-spacing: 15px;

    a {
        margin: 0 20px;
        color: white;
        text-decoration: none;
        transition: letter-spacing 0.3s, color 0.3s;

        &:hover {
            letter-spacing: 1px;
            color: $pretty;
        }
    }
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
}