// Variables for colors and spacing
$background-color: #101012;
$text-color: #ccc;
$text-hover-color: white;
$divider-color: rgba(255, 255, 255, 0.2);
$primary-color: #101012;
$secondary-color: #FFFFFF;
$pretty: #ffe8a2;
$font-family: 'Montserrat', sans-serif;
