@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Variables for colors and spacing
$background-color: #1b1b1b;
$text-color: #ccc;
$text-hover-color: white;
$divider-color: rgba(255, 255, 255, 0.2);
$primary-color: #1b1b1b;
$secondary-color: #FFFFFF;
$pretty: #ffe8a2;
$font-family: 'Montserrat', sans-serif;
