* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: #101012;
}

main {
  padding-top: 100px;
}

figure {
  margin: 0;
}

.socials {
  transition: stroke 0.3s;
}
.socials:hover {
  stroke: #ffe8a2;
}

h1,
h2,
p {
  color: #FFFFFF;
}

h1,
h2 {
  font-size: 2rem;
}

button {
  background: #FFFFFF;
  color: black;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 15px 32px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.5s, color 0.2s, letter-spacing 0.5s;
}
button:hover {
  background: rgba(52, 52, 52, 0.85);
  border: 1px solid rgb(255, 255, 255);
  letter-spacing: 4px;
  color: beige;
  cursor: pointer;
}

/* Themed dashed line effect */
.theme-divider {
  width: 225px;
  /* Full width of the line */
  height: 30px;
  /* Thinner line for a subtle effect */
  display: flex;
  /* Create individual dashes using flexbox */
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  margin: 0;
  /* Add spacing for consistency */
  padding: 50px 0;
}
.theme-divider span {
  width: 10px;
  /* Slightly wider dashes */
  height: 30px;
  /* Equal height and width */
  background-color: white;
  /* Dash color */
  margin-right: 15px;
  /* Larger gap between dashes */
  animation: dash-up-down 8s infinite ease-in-out;
  /* Faster animation for a subtle theme */
}
.theme-divider span:nth-child(1) {
  animation-delay: 0s;
}
.theme-divider span:nth-child(2) {
  animation-delay: 1s;
}
.theme-divider span:nth-child(3) {
  animation-delay: 2s;
}
.theme-divider span:nth-child(4) {
  animation-delay: 3s;
}
.theme-divider span:nth-child(5) {
  animation-delay: 4s;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1b1b1b;
  color: white;
  padding: 15px;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.cookie-banner a {
  color: #ffe8a2;
  text-decoration: underline;
  margin-right: 20px;
}

.privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.privacy .privacy-policy {
  padding: 50px 20px;
  max-width: 800px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.privacy .privacy-policy h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.privacy .privacy-policy p {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 15px;
}
.privacy .privacy-policy p a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}
.privacy .privacy-policy p a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #1b1b1b, #2c2c2c);
  color: #fff;
  text-align: center;
}
.not-found .content {
  max-width: 500px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.not-found .content h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #e63946;
  animation: bounce 2s infinite ease-in-out;
}
.not-found .content p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: #ddd;
}
.not-found .content .home-link {
  background: #FFFFFF;
  color: black;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 15px 32px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.5s, color 0.2s, letter-spacing 0.5s;
}
.not-found .content .home-link:hover {
  background: rgba(52, 52, 52, 0.85);
  border: 1px solid rgb(255, 255, 255);
  letter-spacing: 4px;
  color: beige;
  cursor: pointer;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes textanimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
@keyframes textanimation2 {
  0%, 100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
@keyframes dash-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
header {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 5%;
  transition: background-color 0.3s;
  /* Add background and effects when scrolled */
  /* Logo styles */
  /* Navigation links */
  /* Style for active router links */
  /* Example of a hover effect or state for the navigation container */
}
header.scrolled {
  background-color: #101012;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
header .logo:hover {
  color: #aaa;
}
header .nav-link {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.3s;
}
header .nav-link:hover {
  color: #ffe8a2;
}
header .router-link-active {
  font-weight: bold;
}
header .before {
  background-color: #e5e5e5;
  border-radius: 50%;
  transition: all 0.3s;
}

/* State for when the header is hidden */
.stop {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.3s ease;
}
.stop a {
  visibility: hidden;
}

/* Fullscreen navigation menu */
.start {
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  position: fixed;
  background-color: transparent;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 2;
  transition: all 0.3s;
}
.start a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.5rem;
}
.start a:hover {
  color: #aaa;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.Home .background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.Home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, transparent, #101012);
  z-index: 0;
}
.Home .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 700px;
  z-index: 1;
}
.Home .hero-section h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ccc;
}
.Home .hero-section p {
  font-size: 1.15rem;
  line-height: 1.6;
  color: #FFFFFF;
}

.next-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101012;
  padding: 100px 20px;
  color: white;
}
.next-section .intro {
  width: 100%;
  max-width: 700px;
}
.next-section .intro div {
  background: #101010;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 7px 7px 20px 1px #000;
}
.next-section .intro .highlight_1 {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-weight: 300;
  color: #101012;
}
.next-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(204, 204, 204, 0.9);
  margin-bottom: 20px;
}
.next-section p strong {
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}
.next-section p strong:hover {
  color: #ffe8a2;
}

.next {
  width: 100%;
  max-width: 1200px;
}
.next .highlight_2 {
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  color: #ffe8a2;
  font-weight: 300;
}
.next .product {
  font-size: 12px;
  display: inline-block;
  animation: textanimation2 3s infinite ease-in-out;
}

.roadmap {
  display: flex;
  align-items: stretch;
  gap: 20px;
  padding: 50px 20px;
  position: relative;
}
.roadmap .timeline {
  width: 5px;
  background-color: #ffe8a2;
  border-radius: 5px;
  position: relative;
}
.roadmap .roadmap-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.roadmap .roadmap-content figure {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  max-width: 900px;
}
.roadmap .roadmap-content figure img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.roadmap .roadmap-content figure figcaption {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}
.roadmap .roadmap-content figure h3 {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}
.roadmap .roadmap-content figure .showcase {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.roadmap .roadmap-content figure .showcase img {
  max-width: 400px;
}

.image-title {
  padding: 5px;
  border: solid #ffe8a2;
  border-radius: 5px;
  font-weight: 300;
  color: #ffe8a2;
}

.fadeIn {
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.textanimation {
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both, textanimation 8s ease-in-out 2s infinite;
}

video {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}

.divider {
  max-width: 800px;
}

.youtube-container {
  position: relative;
  width: 100%;
  max-width: 560px;
}
.youtube-container .youtube-thumbnail {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube-container .youtube-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}
.youtube-container .youtube-thumbnail .play-button {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.youtube-container .youtube-thumbnail .play-button:hover {
  background: rgba(0, 0, 0, 0.8);
}
.youtube-container .youtube-iframe {
  display: none;
}

.about {
  background-color: #101012;
  padding: 200px 20px 50px;
  color: #ccc;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
.about img {
  display: block;
  margin: 0 auto 75px;
  background-color: #000000;
  border-radius: 100%;
  max-width: 250px;
  height: auto;
}
.about .container {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}
.about .container .title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  position: relative;
}
.about .container .description {
  font-size: 1rem;
  margin-bottom: 40px;
  color: rgba(204, 204, 204, 0.9);
  transition: color 0.3s ease;
}
.about .container .description:hover {
  color: white;
}
.about .container .description strong {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}
.about .container .description strong:hover {
  color: white;
}
.about .container .divider {
  width: 5px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: -30px 0 30px;
  display: inline-block;
  vertical-align: middle;
  animation: floatUpDown 3s ease-in-out infinite;
  transition: background-color 0.3s ease;
}
.about .container .divider:hover {
  background-color: white;
  animation: none;
}

.dashed-line {
  padding: 100px 0;
}

.effect1 {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.effect1 span {
  width: 10px;
  height: 30px;
  background-color: white;
  margin-right: 10px;
  animation: dash-up-down 8s infinite ease-in-out;
}

.effect1 span:nth-child(1) {
  animation-delay: 0s;
}

.effect1 span:nth-child(2) {
  animation-delay: 1s;
}

.effect1 span:nth-child(3) {
  animation-delay: 2s;
}

.effect1 span:nth-child(4) {
  animation-delay: 3s;
}

.effect1 span:nth-child(5) {
  animation-delay: 4s;
}

.effect1 span:nth-child(6) {
  animation-delay: 5s;
}

.effect1 span:nth-child(7) {
  animation-delay: 6s;
}

.effect1 span:nth-child(8) {
  animation-delay: 7s;
}

.floating-divider {
  width: 50px;
  height: 5px;
  background-color: white;
  margin: 100px auto;
  animation: floatUpDown 3s infinite ease-in-out;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 200px;
  padding: 250px 15% 0px;
  background: #101012;
}
.contact h2,
.contact h3,
.contact p,
.contact a {
  color: #FFFFFF;
}
.contact .contactInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.contact svg {
  margin: 0 20px;
}

/* Footer styles */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 15% 200px; /* Adjusted for padding consistency */
  background: #101012;
}
footer a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
  transition: letter-spacing 0.3s, color 0.3s;
}
footer a:hover {
  letter-spacing: 1px;
  color: #ffe8a2;
}

@media (max-width: 576px) {
  footer {
    flex-wrap: wrap;
  }
  footer h2 {
    text-align: center;
  }
  h3 {
    line-height: 2.5;
  }
}
@media (max-width: 768px) {
  .links {
    display: none;
  }
  #menu {
    display: block;
  }
  .roadmap {
    padding: 0;
  }
}
@media (min-width: 769px) {
  #menu {
    display: none; /* Hide menu at larger screen sizes */
  }
}/*# sourceMappingURL=style.css.map */